@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

body {
    background-color: #f3f5fc;
    font-family: "Inter", sans-serif;
}

main {
    height: 80%;
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 24px;
    width: 328px;
    height: 67px;
    font-size: 20px;
    margin-left: 24px;
}

.logo {
    padding-top: 40px;
    padding-left: 40px;
}

::placeholder {
    color: #0a3871;
    opacity: 70%;
}

.texto_ingresado {
    background-color: #f3f5fc;
    width: 680px;
    height: 574px;
    display: block;
    margin-top: 50px;
    margin-left: 200px;
    border: none;
    outline: none;
    font-family: "Inter";
    font-style: normal;
    font-size: 32px;
    color: #0a3871;
    resize: none;
}

.aviso {
    margin-left: 200px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #495057;
}

.aviso p {
    padding-left: 8px;
}

.contenedor_botones {
    text-align: center;
    margin-top: 10px;
    margin-left: 175px;
}

.btnEncriptador {
    background-color: #0a3871;
    border: none;
    color: #ffffff;
}

.btnDesencriptador {
    background: #d8dfe8;
    border: 1px solid #0a3871;
    color: #0a3871;
}

.secundario {
    background: #ffffff;
    width: 400px;
    height: 740px;
    border-radius: 32px;
    margin-right: 60px;
}

.contenedor_imagen {
    width: 100%;
    height: auto;
    padding-top: 160px;
    box-sizing: border-box;
    overflow: auto;
    text-align: center;
}

.contenedor_texto p:nth-child(1) {
    padding-top: 32px;
    padding-left: 22%;
    width: 60%;
    height: 20%;
    font-size: 24px;
    color: #343a40;
    text-align: center;
}

.contenedor_texto p:nth-child(2) {
    padding-left: 10%;
    margin-top: 16px;
    width: 80%;
    height: 20%;
    font-size: 16px;
    color: #495057;
    text-align: center;
}

.texto_resultado {
    margin: 32px;
    width: 82%;
    height: 590px;
    font-family: "Inter";
    font-size: 24px;
    color: #495057;
    border: none;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    text-align: center;
    display: none;
}

.btnCopiar {
    margin-left: 42px;
    border: 1px solid #0a3871;
    color: #0a3871;
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #495057;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 25px;
}

@media (max-width: 800px) {
    main {
        height: 80%;
        display: grid;
        grid-row: 1;
    }

    .logo {
        padding-top: 20px;
        padding-left: 10px;
    }

    .texto_ingresado {
        background-color: #f3f5fc;
        width: 600px;
        height: 574px;
        margin-left: 100px;
    }

    .aviso {
        margin-left: 55px;
    }

    .contenedor_botones {
        text-align: center;
        margin-top: 10px;
        margin-left: 0px;
    }

    .secundario {
        margin-left: 50px;
        margin-top: 64px;
        width: 650px;
        height: 740px;
    }

    .texto_resultado {
        width: 90%;
    }

    .btnCopiar {
        width: 630px;
        margin-left: 10px;
    }
    
    @media (max-width: 400px) {
        .logo {
            padding-top: 10px;
        }
    
        .texto_ingresado {
            background-color: #f3f5fc;
            width: 320px;
            height: 574px;
            margin-left: 30px;
        }
    
        .aviso {
            margin-left: 10px;
        }
    
        .contenedor_imagen img {
            width: 90%;
        }
    
        .contenedor_botones {
            display: grid;
            grid-row: 1;
            margin-top: 10px;
        }
    
        .btnEncriptador {
            margin-bottom: 26px;
        }
    
        .secundario {
            margin-left: 28px;
            margin-top: 35px;
            width: 330px;
            height: 740px;
        }
    
        .texto_resultado {
            width: 80%;
        }
    
        .btnCopiar {
            width: 279px;
            height: 67px;
            margin-left: 28px;
        }
    
        footer {
            display: inline-flex;
            justify-content: center;
            color: #495057;
            font-size: 12px;
            padding-top: 30px;
            padding-bottom: 25px;
        }
    }
}

