@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

main {
    height: 80%;
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 24px;
    width: 328px;
    height: 67px;
    font-size: 20px;
    margin-left: 24px;
}


.logo{
    padding-top: 40px;
    padding-left: 40px;
}

::placeholder{
    color: #0A3871;
    opacity: 70%;
}
.texto_ingresado {
    background-color: #F3F5FC;
    width: 680px;
    height: 574px;
    display: block;
    margin-top: 50px;
    margin-left: 200px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-size: 32px;
    color: #0A3871;
    resize: none;
}

.aviso {
    margin-left: 200px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #495057;
}
.aviso p{
    padding-left: 8px;
}

.contenedor_botones {
    text-align: center;
    margin-top: 10px;
    margin-left: 175px;
}

.btnEncriptador{
    background-color: #0A3871;
    border: none;
    color: #FFFFFF;
}

.btnDesencriptador{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}

.secundario{
    background: #FFFFFF;
    width: 400px;
    height: 740px;
    border-radius: 32px;
    margin-right: 60px;
}
.contenedor_imagen {
    width: 100%;
    height: auto;
    padding-top: 160px;
    box-sizing: border-box;
    overflow: auto;
    text-align: center;
}


.contenedor_texto p:nth-child(1){
    padding-top: 32px;
    padding-left: 22%;
    width: 60%;
    height: 20%;
    font-size: 24px;
    color: #343A40;
    text-align: center;
}

.contenedor_texto p:nth-child(2){
    padding-left: 10%;
    margin-top: 16px;
    width: 80%;
    height: 20%;
    font-size: 16px;
    color: #495057;
    text-align: center;
}

.texto_resultado {
    margin: 32px;
    width: 82%;
    height: 590px;
    font-family: 'Inter';
    font-size: 24px;
    color: #495057;
    border: none;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    text-align: center;
    display: none;
}

.btnCopiar{
    margin-left: 42px;
    border: 1px solid #0A3871;
    color: #0A3871;
    display: none;

}

footer{
    width: 100%;
    text-align: center;
    color: #495057;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 25px;

}

@media (max-width: 769px) {
    
main {
    height: 80%;
    display: grid;
    grid-row: 1;
}

.logo{
    padding-top: 20px;
    padding-left: 10px;
}

::placeholder{
    color: #0A3871;
    opacity: 70%;
}
.texto_ingresado {
    background-color: #F3F5FC;
    width: 600px;
    height: 574px;
    display: block;
    margin-top: 50px;
    margin-left: 100px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-size: 32px;
    color: #0A3871;
    resize: none;
}

.aviso {
    margin-left: 55px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #495057;
}
.aviso p{
    padding-left: 8px;
}

.contenedor_botones {
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
}

.btnEncriptador{
    background-color: #0A3871;
    border: none;
    color: #FFFFFF;
}

.btnDesencriptador{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}

.secundario{
    margin-left: 50px;
    margin-top: 64px;
    background: #FFFFFF;
    width: 650px;
    height: 740px;
    border-radius: 32px;
    margin-right: 60px;
}
.contenedor_imagen {
    width: 100%;
    height: auto;
    padding-top: 160px;
    box-sizing: border-box;
    overflow: auto;
    text-align: center;
}


.contenedor_texto p:nth-child(1){
    padding-top: 32px;
    padding-left: 22%;
    width: 60%;
    height: 20%;
    font-size: 24px;
    color: #343A40;
    text-align: center;
}

.contenedor_texto p:nth-child(2){
    padding-left: 10%;
    margin-top: 16px;
    width: 80%;
    height: 20%;
    font-size: 16px;
    color: #495057;
    text-align: center;
}

.texto_resultado {
    margin: 32px;
    width: 82%;
    height: 590px;
    font-family: 'Inter';
    font-size: 24px;
    color: #495057;
    border: none;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    text-align: center;
    display: none;
}

.btnCopiar{
    margin-left: 170px;
    border: 1px solid #0A3871;
    color: #0A3871;
    display: none;

}

footer{
    width: 100%;
    text-align: center;
    color: #495057;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 25px;

}
}